@using NWTradersWeb.Models;

@model NWTradersWeb.Models.Customer

@{
    ViewBag.Title = "Customer Dashboard";

    Customer currentCustomer = (Customer)Session["currentCustomer"];

    List<Order> currentCustomerOrders = ViewBag.currentCustomerOrders;
    List<Product> currentCustomerRecentProducts = ViewBag.currentCustomerRecentProducts;
    List<Product> currentCustomerFrequentProducts = ViewBag.currentCustomerFrequentProducts;

}


<h2 style="text-align: center">@ViewBag.Title</h2>
<br />


<div class="card-deck shadow py-2">

    <div class="card">
        <!-- Customer information -->
        <br/>
        <div class="card" style="width: 20rem; text-align: center">
            <div class="card-header">
                Customer Information
            </div>

            <ul class="list-group list-group-flush">
                <li class="list-group-item">Company Name: &nbsp; <b>@currentCustomer.CompanyName</b> </li>
                <li class="list-group-item">Contact Title: &nbsp; <b>@currentCustomer.ContactTitle </b></li>
                <li class="list-group-item">Contact Name: &nbsp; <b>@currentCustomer.ContactName </b></li>
                <li class="list-group-item">Address: &nbsp; <b>@currentCustomer.Address </b></li>
                <li class="list-group-item">City: &nbsp; <b>@currentCustomer.City</b></li>
                <li class="list-group-item">Postal Code: &nbsp; <b>@currentCustomer.PostalCode </b></li>
                <li class="list-group-item">Region: &nbsp; <b>@currentCustomer.Region </b></li>
                <li class="list-group-item">Country: &nbsp; <b>@currentCustomer.Country </b></li>
                <li class="list-group-item">Phone: &nbsp; <b>@currentCustomer.Phone</b></li>
                <li class="list-group-item">Fax: &nbsp; <b>@currentCustomer.Fax</b></li>

                <!-- You can add more information here -->
            </ul>

        </div>
        <br/>

        @Html.ActionLink("Update Customer Details", "Edit", new { id = @currentCustomer.CustomerID }, new { @class = "btn btn-secondary " }) 
    </div>

    <div class="card">
        <!-- Most Recent Orders -->
        <br/>

        <div class="card" style="width: 20rem; text-align: center">
            <div class="card-header">
                Recent Orders
            </div>

            <table class="table-bordered table-striped" style="font-size:small">
                <tr>
                    <th>Date <br /> Placed</th>
                    <th>Order <br /> Total</th>
                    <th>View <br /> Details</th>

                </tr>

                @foreach (Order o in currentCustomerOrders)
                {
                    <tr class="py-3 text-center ">

                        <td class="w3-padding-small py-2">
                            @Html.DisplayFor(item => o.OrderDate)
                        </td>
                        <td>
                            @Html.DisplayFor(item => o.orderTotal)
                        </td>

                        <td>
                            @Html.ActionLink("Details", "Details", "Orders", new { @id = o.OrderID }, new { @class = "btn-sm btn-dark", @style = "font-size:small" })
                        </td>
                    </tr>

                }
            </table>

        </div>
        <br/>
        @Html.ActionLink("More Details", "Details", "Orders", new { @class = "btn btn-secondary " })

    </div>


    <div class="card">
        <!-- Most Recent Products  -->
        </br>

        <div class="card" style="width: 20rem; text-align: center">
            <div class="card-header">
                Recent Products
            </div>

            <table class="table-bordered table-striped" style="font-size:small">
                <tr>
                    <th>Name </th>
                    <th>Discontinued </th>
                    <th>View <br /> Details</th>

                </tr>

                @foreach (Product p in currentCustomerRecentProducts)
                {
                    <tr class="py-3 text-center ">

                        <td class="w3-padding-small py-2">
                            @Html.DisplayFor(item => p.ProductName)
                        </td>
                        <td>
                            @Html.DisplayFor(item => p.Discontinued)
                        </td>

                        <td>
                            @Html.ActionLink("Details", "Details", "Products", new { @id = p.ProductID }, new { @class = "btn-sm btn-dark", @style = "font-size:small" })
                        </td>
                    </tr>

                }
            </table>

        </div>
        <!-- Most Frequent Products  -->
        <br/>

        <div class="card" style="width: 20rem; text-align: center">
            <div class="card-header">
                Frequent Products
            </div>

            <table class="table-bordered table-striped" style="font-size:small">
                <tr>
                    <th>Name </th>
                    <th>Discontinued </th>
                    <th>View <br /> Details</th>

                </tr>

                @foreach (Product p in currentCustomerFrequentProducts)
                {
                    <tr class="py-3 text-center ">

                        <td class="w3-padding-small py-2">
                            @Html.DisplayFor(item => p.ProductName)
                        </td>
                        <td>
                            @Html.DisplayFor(item => p.Discontinued)
                        </td>

                        <td>
                            @Html.ActionLink("Details", "Details", "Products", new { @id = p.ProductID }, new { @class = "btn-sm btn-dark", @style = "font-size:small" })
                        </td>
                    </tr>

                }
            </table>

        </div>
        </br>
        @Html.ActionLink("More Details", "Details", "Products", new { @class = "btn btn-secondary " })
    </div>

</div>
